<div class="container">
    <div class="product-list">
        <p class="form-title">Login de usuario</p>
        <input class="user-input" type="text" name="user" id="loginUsernameInput" placeholder="Ingrese su nombre"/>
        <input class="user-input" type="text" name="user" id="loginPasswordInput" placeholder="Ingrese su contraseña"/>

        <button class="btn" value="Enviar" onclick="login()">Enviar</button>
        <button class="btn" value="Register" onclick="redirectTo('register')">Quiero registrarme</button>
    </div>
</div>
