* {
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.form-title {
    color: #8C8C8C;
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    overflow: hidden;
    padding: 25px;
    position: relative;
    background: #edf2f5;
    border-radius: 20px;
    box-shadow: 2px 8px 20px 0 rgba(0,0,0,.25);
}

.input {
    width: 100%;
    margin: 12.5px 0;
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: #ddd;
}

.btn {
    margin-top: 15px;
    padding: 10px 15px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #6c63ff;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

.product-list-btn {
    outline: none;
    border: none;
    padding: 10px 15px;
    color: #7160CE;
    text-decoration: underline;
    background-color: transparent;
    cursor: pointer;
}

.success-message {
    text-align: center;
    color: #06C892;
    margin: 0;
    align-self: center;
}

.error-message {
    text-align: center;
    color: red;
    margin: 0;
    align-self: center;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.product-list {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
    padding: 25px;
    position: relative;
    background: #edf2f5;
    border-radius: 20px;
    box-shadow: 2px 8px 20px 0 rgba(0,0,0,.25);
}

.product-img {
    width: 30px;
    height: 30px;
}