    <div class="container">
        <h2 class="form-title">Agregar un producto</h2>
        <form class="upload-form" id="productForm">
            <input class="input" type="text" name="title" id="titleInput" placeholder="Título"/>

            <div class="divider"></div>

            <input class="input" type="text" name="price" id="priceInput" placeholder="Precio" />

            <div class="divider"></div>

            <input class="input" type="text" name="thumbnail" id="thumbnailInput" placeholder="Photo del producto"/>

            <input class="btn" value="Agregar" onclick="addBtnClicked()" />
        </form>

        <br>
        <br>
        
        <div class="list-container">
            <div id="list-section" class="product-list">
                <p class="form-title">Lista de productos</p>
            </div>
        </div>
    </div>
    