<%- include("partials/header.ejs") %>

<div class="container">
    <h2 class="form-title">Agregar un producto</h2>
    <form class="upload-form" id="productForm" method="post" action="/api/productos">
        <input class="input" type="text" name="title" id="title" placeholder="Título"/>

        <div class="divider"></div>

        <input class="input" type="text" name="price" id="price" placeholder="Precio" />

        <div class="divider"></div>

        <input class="input" type="text" name="thumbnail" id="thumbnail" placeholder="Photo del producto"/>

        <input class="btn" type="submit" value="Agregar" />
    </form>

    <button class="product-list-btn" onclick="window.location.href = 'http://localhost:8080/productos'">Lista de productos</button>
</div>

<script src="/js/home.js"></script>

<%- include("partials/footer.ejs") %>