<div class="container">
    <div class="product-list">
        <p class="form-title">User error signup</p>

        <button class="btn" value="back" onclick="redirectTo('register')">Volver</button>
    </div>
</div>
