<div class="container">
    <div class="product-list">
        <p class="form-title">Login de usuario</p>
        <input class="user-input" type="text" name="user" id="userNameInput" placeholder="Ingrese su nombre"/>

        <button class="btn" value="Enviar" onclick="login()">Enviar</button>
    </div>
</div>
