html
head
  title Lista de productos
  link(rel='stylesheet' href='/css/styles.css')
.container
  .product-list
    p.form-title Lista de productos
    if products.length !== 0
        each product in products
            .row
                b=product.title
                p=product.price
                img.product-img(src=product.thumbnail)
    else
        p No hay productos

    button#homeBtn.product-list-btn(onclick="window.location.href = 'http://localhost:8080/'") Agregar un nuevo producto
  br
  br
  span *** Utilizando Pug ***
